header{
    font-size: 2.4em;
}
.disable-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.internal-button{
    border: 2px solid #009933;
    border-radius: 5px;
    color: white;
    background-color: #009933;

    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.internal-button:hover{
    background-color: white;
    color: #009933;
}
.external_link {
    color: #19B5FE;
}
.external_link:hover{
    /* padding-bottom: 3px;
    border-bottom: 1px solid #19B5FE; */
    cursor: pointer;
}
.pointer-cursor{
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.padding-top-5-p{
    padding-top: 5%;
}
.margin-top-5-p{
    margin-top: 5%;
}
.padding-15{
    padding: 15px;
}
.padding-10{
    padding: 10px;
}
.margin-5{
    margin: 5px;
}
.display-block{
    display: block;
}
.hover-darken:hover{
    color: #000;
    background-color: #ffbd33;
}

#divResults{
    margin: 0 auto;
    min-width: 250px;
    max-width: 400px;
}
.border-curved{
    border: 1px dashed #DAF7A6;
    border-radius: 5px;
    box-shadow: #009933;
}

.successToast{
    background-color: #009933;
}

#divToast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1000;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
/* #divToast #img{
	width: 50px;
	height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
} */
#divToast #divDesc{   
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
}

#divToast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}


#divLoading.display{
    display: block;
}
#divLoading.none{
    display: none;
}

#divLoading {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:99;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#divLoading::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}